.header {
    background-color: orange;
}
p, h1,h2, h3,h4,h5,h6{
    text-align: center;
}
.login,.reg, .home{
    background-color: rgb(238, 236, 237);
    width: 360px;
    margin: auto;
    height: 250px;
    padding: 20px;
    box-shadow: 5px 5px 10px 0px rgb(238, 236, 237); 
    /* box-sizing: border-box; */
}
.login input,.reg input, .home input{
    width: 300px;
    margin-left: 18px;
    padding: 10px;
    font-size: 1em;
}
.login button, .reg button, .home button{
    width: 150px;
    margin-left: 100px;
    color: white;
    border: none;
    border-radius: 3px;
    height: 20px;
}
.log-in, .home button{
    background-color: blue;
}
.crt-acc{
    background-color: green;
    margin-top: 20px;
}
button:active{
    transform: scale(0.9);
}
.reg{
    height: 400px;
}
.home{
    height: 280px;
}
.home select{
    width: 200px;
    padding: 10px;
}
.home h3{
    font-size: 1.5em;
}